// @import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald:200,400|Playfair+Display:400,400i');

// $bold: 'Oswald', sans-serif;
// $abril: 'Abril Fatface', serif;
// $serif: 'Playfair Display', serif;

$blue: #3c01ff;
$dark: #212121;
// $grey: #333333;

$ease-slow: all 0.4s ease-out; 

body{
  cursor: url(assets/cursors/cursor.cur), auto;
}

a {
  text-decoration: none;
  color: $dark;
  &:hover {
    // background: $dark;
    color: $blue;
  }
}

.sticky {
  position: fixed;
  z-index: 10;
}
.navbar--container {
  top: 15%;
  color: $dark;
  background: $blue;
  left: 0;
  height: 250px;
  width: 80px;
  box-shadow: 2px 2px 15px rgba($blue, 0.5);
  visibility: visible;
  
}

.navbar--icon {
  &:hover {
    color: $dark;
    cursor: url(assets/cursors/pointer.cur), default;
  }
}
#landing-section{
  margin-top: 0; margin-bottom: 0 ;background-image: url('https://i2.lensdump.com/i/RyOmz7.gif'); background-size: cover; background-position-y: center;background-position-x: center; background-repeat: no-repeat;
}
// #bgfortimer{
//   margin-top: 0; margin-bottom: 0 ;background-image: url('./assets/bg.gif'); background-size: cover; background-position-y: center;background-position-x: center; background-repeat: no-repeat;
// }
.nb-icon {
  margin-bottom: 49px;
  margin-left: 39px;
  font-size: 1.2em;
}

.navbar--title {
  margin-left: 40px;
  margin-top: 20px;
  h4 {
    writing-mode: vertical-rl;
    // font-family: $bold;
    letter-spacing: 0.34em;
    text-transform: uppercase;
    font-size: 1.1em;
    color: $dark;
  }
}

//navigation open

.nav--open {
  height: 100vh;
  width: 300px;
  left: 0;
  // top: 20vh;
  // background: rgba(100, 255, 219, 0.397);
  transition: $ease-slow;
  opacity: 1;
  box-shadow: 2px 2px 15px rgba($blue, 0.5);
  // backdrop-filter: blur(5px);
  background: $dark;
  z-index: 8;
}

.nav--open-icon {
  text-align: right;
  padding: 20px;
  i {
    font-size: 1.8em;
    color: $blue;
    &:hover {
      color: $dark;
      background: $blue;
      cursor: url(assets/cursors/pointer.cur), default;
    }
  }
}

.nav--open-title {
  // font-family: $serif;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  margin-top: 10%;
  color: $blue;
}

.nav--open-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  a {
    font-size: 2em;
    font-weight: 100;
    // font-family: $serif;
    padding: 15px 0;
    color: $blue;
    text-decoration: none;
    &:hover {
      background: $dark;
      box-shadow: 2px 2px 15px rgba($blue, 0.5);
    }
  }
}

.close {
  transform: translateX(-300px);
  transition: $ease-slow;
  opacity: 0;
}

#register {
  height: 100%;
  // margin-top: 2em;
  background: $blue;
  color: $dark;
  &:hover {
    background: $dark;
    color: $blue;
    box-shadow: 5px 5px 25px rgba($blue, 0.5);
  }
}

// .main {
//   margin-top: 20vh;
// }

// Page Footer
.page-footer {
  margin-bottom: 0;
}

// Countdown Timer
.countdown {
  width: 100vw;
  height: 110px;
  z-index: 9;
  bottom: 0;
  margin-bottom: -30px;
  box-shadow: 2px 2px 15px rgba($blue, 0.5);
}

// @media only screen and (max-device-width:481px) {
//   .countdown {
//     height: 10vh;
//   }
//   // .nav--open {
//   //   height: 100vh;
//   //   z-index: 8;
//   // }
//   .page-footer {
//     margin-bottom: 10vh;
//   }

// }

// @media only screen and (max-device-width:360px) {
//   .countdown {
//     height: 11vh;
//   }
//   // .nav--open {
//   //   height: 100vh;
//   //   z-index: 8;
//   // }
//   .page-footer {
//     margin-bottom: 11vh;
//   }

// }



// Glow on Hover
.glow-light {
  // color: $blue;
  &:hover {
    // color: white;
    box-shadow: 2px 2px 15px rgba($blue, 0.5);
  }
}

.glow-dark {
  &:hover {
    box-shadow: 2px 2px 15px rgba($dark, 0.5);
  }
}

// landing Section
#landing-section {
  height: 300px;
  padding-top: 100px !important;
}

// Err404 Button
.err404-btn {
  color: $blue;
  &:hover {
    color: #fafafa;
    cursor: pointer;
  }
}


// Scroll Bar

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to top, $dark, $blue, $dark);
  //  box-shadow: inset 2px 2px 2px rgba($dark, 0.5), inset 2px 2px 2px rgba($dark, 0.5);
}

::-webkit-scrollbar-track {
  background: $dark;
}

// Pointer Cursor

.glove a{
  cursor: url(assets/cursors/pointer.cur), default;
}

#faq-section .collapsible-header:hover {
  cursor: url(assets/cursors/pointer.cur), default !important;
  
}

.jfForm-background-mask {
  background: #212121 !important;
}

@media only screen and (max-width:400px) {
  #landing-section {
    margin-top: 0;
    margin-bottom: 0;
    background-image: url("https://i.lensdump.com/i/RyhXio.gif") !important;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
  }
}


 
    
@media (max-width: 600px) {
  .social-links {
    transform: scale(0.4);
  }
}

@media (min-width: 601px) and (max-width: 700px) {
  .social-links {
    transform: scale(0.7);
  }
}

@media (min-width: 701px) and (max-width: 800px) {
  .social-links {
    transform: scale(0.8);
  }
}



.social-links {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display:inline-flex;
}

.s-link {
  margin: 0 40px;
  position: relative;
  display: flex;
}

.s-link a .fa {
  font-size: 40px;
  color: #555;
  line-height: 80px;
  transition: 0.5s;
}

.s-link a {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.s-link a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b2b2b2;
  transition: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

.s-link a::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #e5e5e5;
  transition: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

.s-link a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

.s-link:hover .fa {
  color: #fff;
}

.s-link:hover:nth-child(1) a {
  background-color: #3b5999;
}

.s-link:hover:nth-child(1) a::before {
  background-color: #2f477a;
}

.s-link:hover:nth-child(1) a::after {
  background-color: #4e69a3;
}

.s-link:hover:nth-child(2) a {
  background-color: #55acee;
}

.s-link:hover:nth-child(2) a::before {
  background-color: #4489be;
}

.s-link:hover:nth-child(2) a::after {
  background-color: #66b4ef;
}

.s-link:hover:nth-child(3) a {
  background-color: #dd4b39;
}

.s-link:hover:nth-child(3) a::before {
  background-color: #b03c2d;
}

.s-link:hover:nth-child(3) a::after {
  background-color: #e05d4c;
}

.s-link:hover:nth-child(4) a {
  background-color: #0077b5;
}

.s-link:hover:nth-child(4) a::before {
  background-color: #005f90;
}

.s-link:hover:nth-child(4) a::after {
  background-color: #1984bc;
}

.s-link:hover:nth-child(5) a {
  background-color: #e4405f;
}

.s-link:hover:nth-child(5) a::before {
  background-color: #b6334c;
}

.s-link:hover:nth-child(5) a::after {
  background-color: #e6536f;
}

.social-media{
  position: relative;
  
  display:flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin-top: -40px;
}


.follow-msg, .insta-post-msg,.contact-us{
  font-family: ' Poppins',Roboto,sans-serif;
  text-align: center;
  font-weight: 800;
}

.follow-msg{
  font-size: 35px;
  margin-top: 50px
}

.insta-post-msg{
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 60px;
}


